@{
    Layout = "~/Views/Shared/_StoreLayout.cshtml";
    ViewData["PageClass"] = "inverted";
}

<h2>@HtmlLocalizer["Manufacturers"]</h2>

<div>
    <partial name="_ManufacturerList" />
</div>