@model DancingGoat.Models.ElectricGrinderViewModel

<div class="product-detail-properties">
    <h4>@HtmlLocalizer["Parameters"]</h4>
    <dl class="row">
        <dt class="col-xs-12 col-sm-4">@HtmlLocalizer["Power"]</dt>
        <dd class="col-xs-12 col-sm-8">@string.Format("{0}W", Model.Power) </dd>
    </dl>
</div>
