@model DancingGoat.Models.FilterPackViewModel

<div class="product-detail-properties">
    <h4>@HtmlLocalizer["Parameters"]</h4>
    <dl class="row">
        <dt class="col-xs-12 col-sm-4">@HtmlLocalizer["Quantity"]</dt>
        <dd class="col-xs-12 col-sm-8">@Model.Quantity</dd>
    </dl>
</div>